.room-item-1 img {
    max-height: 265px;
    object-fit: cover;
}
.product-detail_item img {
    height: 200px;
}
.gallery__img-block img {
    height: 600px;
    width: 900px;
    object-fit: cover;
}

.box-img img {
    width: 100%;
    object-fit: cover;
    height: 200px;


}
.wellcome-text:hover{
    background-color: transparent !important;
}
.wellcome-text span {
    color: white;
    margin-right: 20px;
}
.form-error {
    color: red;
}
.form-register {
    color: #fff;
}
